/* Message */

.message {
    width: 100%;
    position: static;
    display: flex;
    margin: 5px 0;
}

.message.own>.wrapper {
    background-color: rgb(178, 211, 255);
}

.message.own>.triangle {
    box-shadow: 20px 0px 0 0px rgb(178, 211, 255);
}


/* FOR PHONES ONLY! */


/* .message.own {
    flex-direction: row-reverse;
}

.message.own>.triangle {
    margin-left: 0px;
    margin-right: -40px;
    border-top-left-radius: 0px;
    box-shadow: -20px 0px 0 0px rgb(178, 211, 255);
} */

.image {
    border-radius: 10px;
    width: 35px;
    align-self: flex-end;
}

.image img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: orange;
}

.triangle {
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 42px;
    border-top-right-radius: 0px;
    box-shadow: 20px 0px 0 0px rgb(236, 236, 236);
    align-self: flex-end;
}

.wrapper {
    margin-left: 10px;
    border-radius: 10px;
    max-width: 400px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: rgb(236, 236, 236);
    word-wrap: break-word;
}